# Build dependencies
/mitsuba/dependencies

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other build artifacts
/mitsuba/.sconf_temp
/mitsuba/.sconsign.dblite
/mitsuba/build/.vs
/mitsuba/build/[R,r]elease
/mitsuba/build/[D,d]ebug
/mitsuba/data
/mitsuba/dist
/mitsuba/build
/scenes
# Rendering artifacts
*.log
*.mip

/visualizer/build

*.vcxproj.user
/.vscode
._.DS_Store
._collada-dom-dev_2.4.0-1_amd64.deb
collada-dom-dev_2.4.0-1_amd64.deb
consistent_simulator.py
LICENSE
mitsuba/._.DS_Store
mitsuba/._dependencies
mitsuba/._frame0.exr
mitsuba/._frame1.exr
mitsuba/._frame2.exr
mitsuba/._frame3.exr
mitsuba/build/config-linux-gcc-debug.py
mitsuba/build/config-linux-gcc.py
mitsuba/build/config-linux-icl.py
mitsuba/build/config-macos10.9-clang-x86_64.py
mitsuba/build/config-win64-icl.py
mitsuba/build/config-win64-msvc2013-debug.py
mitsuba/build/config-win64-msvc2013.py
mitsuba/build/mitsuba-msvc2013.sln
mitsuba/build/mitsuba-msvc2013.vcxproj
mitsuba/build/mitsuba-msvc2013.vcxproj.filters
mitsuba/build/SConscript.configure
mitsuba/build/SConscript.configure.bak
mitsuba/build/SConscript.install
mitsuba/build/SConscript.install.bak
*.exr
*.png
*.obj

*.jpg
